<!DOCTYPE html>
<h1>This is a form</h1>

<body>

    <form>
        <h2>Houses</h2>
        <label for="house1">House 1</label>
        <input type="text" id="house1" placeholder="House 1" maxlength="20" required><br>
        <label for="house2">House 2</label>
        <input type="text" id="house2" placeholder="House 2" maxlength="20" required><br>
        <label for="house3">House 3</label>
        <input type="text" id="house3" placeholder="House 3" maxlength="20" required><br>
        <label for="house4">House 4</label>
        <input type="text" id="house4" placeholder="House 4" maxlength="20"><br>
        <label for="house5">House 5</label>
        <input type="text" id="house5" placeholder="House 5" maxlength="20"><br>
        <br>

        <h2>Competitions</h2>
        <label for="Competition1">Competition 1</label>
        <input type="text" id="Competition1" placeholder="Competition 1" maxlength="20" required><br>

        <label for="Competition2">Competition 2</label>
        <input type="text" id="Competition2" placeholder="Competition 2" maxlength="20" required><br>

        <label for="Competition3">Competition 3</label>
        <input type="text" id="Competition3" placeholder="Competition 3" maxlength="20" required><br>

        <label for="Competition4">Competition 4</label>
        <input type="text" id="Competition4" placeholder="Competition 4" maxlength="20" required><br>

        <label for="Competition5">Competition 5</label>
        <input type="text" id="Competition5" placeholder="Competition 5" maxlength="20" required><br>

        <label for="Competition6">Competition 6</label>
        <input type="text" id="Competition6" placeholder="Competition 6" maxlength="20" required><br>

        <label for="Competition7">Competition 7</label>
        <input type="text" id="Competition7" placeholder="Competition 7" maxlength="20" required><br>

        <label for="Competition8">Competition 8</label>
        <input type="text" id="Competition8" placeholder="Competition 8" maxlength="20" required><br>

        <label for="Competition9">Competition 9</label>
        <input type="text" id="Competition9" placeholder="Competition 9" maxlength="20" required><br>

        <label for="Competition10">Competition 10</label>
        <input type="text" id="Competition9" placeholder="Competition 10" maxlength="20" required><br>



        <input type="reset"><br>
        <input type="submit">



    </form>

</body>