<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PointsPlus</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <a href="form">
        <button onclick="form">Form</a>
      </a>
      <a href="/">
        <button onclick="form">Graph</a>
      </a>
    </header>
  <%- body %>
  </body>
</html>
