<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PointsPlus</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li><a href="/form">Form</a></li>
        <li><a href="/">Graph</a></li>
      </ul>
    </nav>
    <%- body %>
  </body>
</html>
